Leemos y filtramos el dataset

In [1182]:

import dask.dataframe as dd

In [1183]:


# Cargar el conjunto de datos en un dataframe de Dask
df = dd.read_csv('air_traffic_data.csv')

# Eliminar registros duplicados
df_air_filt = df.drop_duplicates()

# Filtrar filas con valores faltantes en columnas específicas

# Volcar los resultados en un archivo CSV
df_air_filt.to_csv('archivo_sin_duplicados.csv', index=False)

['c:\\Users\\Angel Martínez\\Documents\\GitHub\\Air_Trafic\\archivo_sin_duplicados.csv\\0.part']

In [1184]:
df_air_filt

Dask DataFrame Structure:
              Activity Period Operating Airline Operating Airline IATA Code Published Airline Published Airline IATA Code GEO Summary GEO Region Activity Type Code Price Category Code Terminal Boarding Area Passenger Count Adjusted Activity Type Code Adjusted Passenger Count   Year   Month
npartitions=1
                        int64            object                      object            object                      object      object     object             object              object   object        object           int64                      object                    int64  int64  object
                          ...               ...                         ...               ...                         ...         ...        ...                ...                 ...      ...           ...             ...                         ...                      ...    ...     ...
Dask Name: drop-duplicates-agg, 3 tasks

In [1185]:
# Conteo de valores perdidos/faltantes  
df_air_filt.isna().sum()

Dask Series Structure:
npartitions=1
Activity Period    int64
Year                 ...
dtype: int64
Dask Name: dataframe-sum-agg, 6 tasks

In [1186]:
df_air_filt.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 16 entries, Activity Period to Month
dtypes: object(12), int64(4)

In [1187]:
# Consultamos el tipo de datos
df_air_filt.dtypes

Activity Period                 int64
Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Passenger Count                 int64
Adjusted Activity Type Code    object
Adjusted Passenger Count        int64
Year                            int64
Month                          object
dtype: object

In [1188]:
df_air_filt.dtypes[df_air_filt.dtypes=='object']

Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Adjusted Activity Type Code    object
Month                          object
dtype: object

In [1189]:
columnas_drop= [
                "GEO Summary",
                "Price Category Code",
                "Adjusted Activity Type Code",
                "Operating Airline IATA Code",
                "Operating Airline IATA Code",
                "Published Airline IATA Code",
                "Published Airline"
                ]

In [1190]:
df_air_filt= df_air_filt.drop(columns=columnas_drop)

In [1191]:

valores_unicos = df_air_filt['Terminal'].unique().compute()


print(valores_unicos)

0       Terminal 1
1    International
2       Terminal 3
3            Other
4       Terminal 2
Name: Terminal, dtype: object

In [1192]:

Terminal_numeros = {
    'Terminal 1': 1,
    'Terminal 2': 2,
    'Terminal 3': 3,
    'Internacional':4
}


df_air_filt["Terminal"]=df_air_filt["Terminal"].map(Terminal_numeros)
print(df_air_filt["Terminal"].head())

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Terminal, dtype: float64

In [1193]:
df_air_filt.dtypes[df_air_filt.dtypes=='object']

Operating Airline     object
GEO Region            object
Activity Type Code    object
Boarding Area         object
Month                 object
dtype: object

In [1194]:

meses_numeros = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}
df_air_filt["Month"]=df_air_filt["Month"].map(meses_numeros)
print(df_air_filt["Month"].tail())

15002    3
15003    3
15004    3
15005    3
15006    3
Name: Month, dtype: int64

In [1195]:
valores_unicos = df_air_filt['Boarding Area'].unique().compute()


print(valores_unicos)

0        B
1        G
2        A
3        E
4        C
5        F
6    Other
7        D
Name: Boarding Area, dtype: object

In [1196]:

boarding_area = {
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5,
    'F':6,
    'G':7
    
    }
df_air_filt["Boarding Area"]=df_air_filt["Boarding Area"].map(boarding_area)
df_air_filt["Boarding Area"].head()

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
Name: Boarding Area, dtype: float64

In [1197]:
valores_unico = df_air_filt['GEO Region'].unique().compute()


print(valores_unico)

0                     US
1                 Canada
2                   Asia
3                 Europe
4    Australia / Oceania
5                 Mexico
6        Central America
7            Middle East
8          South America
Name: GEO Region, dtype: object

In [1198]:
valores= {
    'US':1,
    'Canada':2,
    'Asia': 3,
    'Australia / Oceania': 4,
    'Mexico': 5,
    'Central America':6,
    'Middle East':7,
    'South America':8
    }
df_air_filt["GEO Region"]=df_air_filt["GEO Region"].map(valores)
print(df_air_filt["GEO Region"].head())

0    1.0
1    1.0
2    1.0
3    2.0
4    2.0
Name: GEO Region, dtype: float64

In [1199]:
df_air_filt["Operating Airline"].head()

0    ATA Airlines
1    ATA Airlines
2    ATA Airlines
3     Air Canada
4     Air Canada
Name: Operating Airline, dtype: object

In [1200]:
valores_unicos = df_air_filt['Operating Airline'].unique().compute()


print(valores_unicos)

0            ATA Airlines
1             Air Canada
2               Air China
3              Air France
4         Air New Zealand
             ...
72         Etihad Airways
73         China Southern
74       Turkish Airlines
75    COPA Airlines, Inc.
76      Air India Limited
Name: Operating Airline, Length: 77, dtype: object

In [1201]:

from sklearn.preprocessing import LabelEncoder
import dask.dataframe as dd

# Crear un DataFrame Dask a partir de la columna de aerolíneas
df_air_filt_dask = dd.from_pandas(df_air_filt['Operating Airline'], npartitions=1)

# Inicializar el codificador de etiquetas
label_encoder = LabelEncoder()

# Ajustar el codificador a los valores únicos en la columna de aerolíneas
label_encoder.fit(df_air_filt_dask)

# Aplicar la codificación de etiquetas a la columna de aerolíneas y crear una nueva columna numérica
df_air_filt['AerolineasNumericas'] = label_encoder.transform(df_air_filt_dask)

# Calcular los resultados
resultados = df_air_filt.compute()

TypeError: Trying to convert dd.Scalar<monoton..., dtype=bool> to a boolean value. Because Dask objects are lazily evaluated, they cannot be converted to a boolean value or used in boolean conditions like if statements. Try calling .compute() to force computation prior to converting to a boolean value or using in a conditional statement.

In [ ]:
suma_nulos = df_air_filt.isnull().sum()
print(suma_nulos)
suma_nulos_resultado = suma_nulos.compute()
print(suma_nulos_resultado)

Dask Series Structure:
npartitions=1
Activity Period    int64
Year                 ...
dtype: int64
Dask Name: dataframe-sum-agg, 19 tasks
Activity Period                0
Operating Airline              0
GEO Region                  2089
Activity Type Code             0
Terminal                    9224
Boarding Area                 27
Passenger Count                0
Adjusted Passenger Count       0
Year                           0
Month                          0
dtype: int64

In [1202]:
df_air_filt2 = df_air_filt[df_air_filt['Terminal'].notnull() & df_air_filt['Boarding Area'].notnull()]
df_air_filt2

Dask DataFrame Structure:
              Activity Period Operating Airline GEO Region Activity Type Code Terminal Boarding Area Passenger Count Adjusted Passenger Count   Year    Month
npartitions=1
                        int64            object    float64             object  float64       float64           int64                    int64  int64  float64
                          ...               ...        ...                ...      ...           ...             ...                      ...    ...      ...
Dask Name: getitem, 22 tasks

In [ ]:
df_air_filt2["Operating Airline"].head()

0    ATA Airlines
1    ATA Airlines
2    ATA Airlines
3     Air Canada
4     Air Canada
Name: Operating Airline, dtype: object

Media y desviacion tipica

In [1205]:
media = df_air_filt2.mean().compute()
desviacion_estandar = df_air_filt2.std().compute()
print("Media:")
print(media)
print("\nDesviación estándar:")
print(desviacion_estandar)

Media:
Activity Period             201004.520837
GEO Region                       1.268546
Terminal                         1.823102
Boarding Area                    3.709666
Passenger Count              55944.645686
Adjusted Passenger Count     56097.885181
Year                          2009.979768
Month                            6.544008
dtype: float64

Desviación estándar:
Activity Period               308.340649
GEO Region                      0.731742
Terminal                        0.955426
Boarding Area                   1.623586
Passenger Count             85530.707364
Adjusted Passenger Count    85445.345216
Year                            3.087691
Month                           3.473339
dtype: float64

c:\Users\Angel Martínez\anaconda3\lib\site-packages\dask\dataframe\core.py:2125: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  meta = self._meta_nonempty.mean(axis=axis, skipna=skipna)
c:\Users\Angel Martínez\anaconda3\lib\site-packages\dask\dataframe\core.py:2316: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  meta = self._meta_nonempty.std(axis=axis, skipna=skipna)
c:\Users\Angel Martínez\anaconda3\lib\site-packages\dask\dataframe\core.py:2169: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  meta = self._meta_nonempty.var(axis=axis, skipna=skipna)

In [ ]:


# Calcular la correlación entre todas las columnas
correlacion = df.corr().compute()


# Obtener las 10 columnas más correlacionadas
columnas_seleccionadas = correlacion.unstack().sort_values(ascending=False)[:10]
elementos_clave = columnas_seleccionadas.index.tolist()

# Imprimir los elementos clave
print("\nElementos clave sin repeticiones de columna consigo misma:")
print(elementos_clave)

Elementos clave sin repeticiones de columna consigo misma:
[('Activity Period', 'Activity Period'), ('Passenger Count', 'Passenger Count'), ('Adjusted Passenger Count', 'Adjusted Passenger Count'), ('Year', 'Year'), ('Passenger Count', 'Adjusted Passenger Count'), ('Adjusted Passenger Count', 'Passenger Count'), ('Activity Period', 'Year'), ('Year', 'Activity Period'), ('Activity Period', 'Passenger Count'), ('Passenger Count', 'Activity Period')]