Leemos y filtramos el dataset

In [796]:

import dask.dataframe as dd

In [797]:


# Cargar el conjunto de datos en un dataframe de Dask
df = dd.read_csv('air_traffic_data.csv')

# Eliminar registros duplicados
df_air_filt = df.drop_duplicates()

# Filtrar filas con valores faltantes en columnas específicas

# Volcar los resultados en un archivo CSV
df_air_filt.to_csv('archivo_sin_duplicados.csv', index=False)

['c:\\Users\\Angel Martínez\\Documents\\GitHub\\Air_Trafic\\archivo_sin_duplicados.csv\\0.part']

In [798]:
df_air_filt

Dask DataFrame Structure:
              Activity Period Operating Airline Operating Airline IATA Code Published Airline Published Airline IATA Code GEO Summary GEO Region Activity Type Code Price Category Code Terminal Boarding Area Passenger Count Adjusted Activity Type Code Adjusted Passenger Count   Year   Month
npartitions=1
                        int64            object                      object            object                      object      object     object             object              object   object        object           int64                      object                    int64  int64  object
                          ...               ...                         ...               ...                         ...         ...        ...                ...                 ...      ...           ...             ...                         ...                      ...    ...     ...
Dask Name: drop-duplicates-agg, 3 tasks

In [799]:
# Conteo de valores perdidos/faltantes  
df_air_filt.isna().sum()

Dask Series Structure:
npartitions=1
Activity Period    int64
Year                 ...
dtype: int64
Dask Name: dataframe-sum-agg, 6 tasks

In [800]:
df_air_filt.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 16 entries, Activity Period to Month
dtypes: object(12), int64(4)

In [801]:
# Consultamos el tipo de datos
df_air_filt.dtypes

Activity Period                 int64
Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Passenger Count                 int64
Adjusted Activity Type Code    object
Adjusted Passenger Count        int64
Year                            int64
Month                          object
dtype: object

In [802]:
df_air_filt.dtypes[df_air_filt.dtypes=='object']

Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Adjusted Activity Type Code    object
Month                          object
dtype: object

In [803]:
columnas_drop= ["GEO Region",
                "GEO Summary",
                "Price Category Code",
                "Adjusted Activity Type Code",
                "Price Category Code",
                "Activity Type Code" ,
                "Operating Airline IATA Code",
                "Operating Airline IATA Code",
                "Published Airline IATA Code",
                "Published Airline"
                ]

In [804]:
df_air_filt= df_air_filt.drop(columns=columnas_drop)

In [805]:

valores_unicos = df_air_filt['Terminal'].unique().compute()


print(valores_unicos)

0       Terminal 1
1    International
2       Terminal 3
3            Other
4       Terminal 2
Name: Terminal, dtype: object

In [806]:

Terminal_numeros = {
    'Terminal 1': 1,
    'Terminal 2': 2,
    'Terminal 3': 3,
    'Internacional':4
}


df_air_filt["Terminal"]=df_air_filt["Terminal"].map(Terminal_numeros)
print(df_air_filt["Terminal"].head())

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Terminal, dtype: float64

In [807]:
df_air_filt.dtypes[df_air_filt.dtypes=='object']

Operating Airline    object
Boarding Area        object
Month                object
dtype: object

In [808]:

meses_numeros = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}
df_air_filt["Month"]=df_air_filt["Month"].map(meses_numeros)
print(df_air_filt["Month"].tail())

15002    3
15003    3
15004    3
15005    3
15006    3
Name: Month, dtype: int64

In [809]:
valores_unicos = df_air_filt['Boarding Area'].unique().compute()


print(valores_unicos)

0        B
1        G
2        A
3        E
4        C
5        F
6    Other
7        D
Name: Boarding Area, dtype: object

In [810]:

boarding_area = {
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5,
    'F':6,
    'G':7
    
    }
df_air_filt["Boarding Area"]=df_air_filt["Boarding Area"].map(boarding_area)
df_air_filt["Boarding Area"]

Dask Series Structure:
npartitions=1
    float64
        ...
Name: Boarding Area, dtype: float64
Dask Name: getitem, 15 tasks

In [811]:

df_air_filt.isna().sum()

Dask Series Structure:
npartitions=1
Activity Period    int64
Year                 ...
dtype: int64
Dask Name: dataframe-sum-agg, 17 tasks

In [812]:
df_air_filt2 = df_air_filt[df_air_filt['Terminal'].notnull() & df_air_filt['Boarding Area'].notnull()]
df_air_filt2

Dask DataFrame Structure:
              Activity Period Operating Airline Terminal Boarding Area Passenger Count Adjusted Passenger Count   Year    Month
npartitions=1
                        int64            object  float64       float64           int64                    int64  int64  float64
                          ...               ...      ...           ...             ...                      ...    ...      ...
Dask Name: getitem, 20 tasks

In [813]:
suma_nulos = df_air_filt2.isnull().sum()
print(suma_nulos)
suma_nulos_resultado = suma_nulos.compute()
print(suma_nulos_resultado)

Dask Series Structure:
npartitions=1
Activity Period    int64
Year                 ...
dtype: int64
Dask Name: dataframe-sum-agg, 23 tasks
Activity Period             0
Operating Airline           0
Terminal                    0
Boarding Area               0
Passenger Count             0
Adjusted Passenger Count    0
Year                        0
Month                       0
dtype: int64

In [814]:
df_air_filt2.dtypes[df_air_filt2.dtypes=='object']

Operating Airline    object
dtype: object

In [815]:
df_air_filt2["Operating Airline"].head()

0    ATA Airlines
1    ATA Airlines
2    ATA Airlines
3     Air Canada
4     Air Canada
Name: Operating Airline, dtype: object

In [816]:
import dask.dataframe as dd

# Crear un objeto Dask DataFrame
df_air_filt2 = dd.from_pandas(df_air_filt, npartitions=1)

# Convertir la columna 'Operating Airline' a categoría conocida
df_air_filt2['Operating Airline'] = df_air_filt2['Operating Airline'].astype('category').cat.as_known()

# Asignar un código numérico a cada categoría
df_air_filt2['Airline numeric'] = df_air_filt2['Operating Airline'].cat.codes

# Computar el resultado
df_air_filt2 = df_air_filt2.compute()

# Obtener las categorías únicas en el DataFrame
unique_categories = df_air_filt2['Operating Airline'].cat.categories

# Obtener el diccionario de mapeo
mapeo_aerolineas = dict(enumerate(unique_categories))

# Imprimir el diccionario de mapeo
print(mapeo_aerolineas)

TypeError: Trying to convert dd.Scalar<monoton..., dtype=bool> to a boolean value. Because Dask objects are lazily evaluated, they cannot be converted to a boolean value or used in boolean conditions like if statements. Try calling .compute() to force computation prior to converting to a boolean value or using in a conditional statement.

In [ ]:
df_air_filt2["Operating Airline"].head()

0    ATA Airlines
1    ATA Airlines
2    ATA Airlines
3     Air Canada
4     Air Canada
Name: Operating Airline, dtype: object

Media y desviacion tipica

In [ ]:
media = df_air_filt2.mean().compute()
desviacion_estandar = df_air_filt2.std().compute()
print("Media:")
print(media)
print("\nDesviación estándar:")
print(desviacion_estandar)

c:\Users\Angel Martínez\anaconda3\lib\site-packages\dask\dataframe\core.py:2125: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  meta = self._meta_nonempty.mean(axis=axis, skipna=skipna)
c:\Users\Angel Martínez\anaconda3\lib\site-packages\dask\dataframe\core.py:2316: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  meta = self._meta_nonempty.std(axis=axis, skipna=skipna)
c:\Users\Angel Martínez\anaconda3\lib\site-packages\dask\dataframe\core.py:2169: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  meta = self._meta_nonempty.var(axis=axis, skipna=skipna)

Media:
Activity Period             201045.073366
Terminal                         1.823102
Boarding Area                    3.644993
Passenger Count              29240.521090
Adjusted Passenger Count     29331.917105
Year                          2010.385220
Month                            6.551343
dtype: float64

Desviación estándar:
Activity Period               313.336196
Terminal                        0.955426
Boarding Area                   2.539679
Passenger Count             58319.509284
Adjusted Passenger Count    58284.182219
Year                            3.137589
Month                           3.464354
dtype: float64

In [822]:


# Calcular la correlación entre todas las columnas
correlacion = df.corr().compute()

# Filtrar la matriz de correlación para excluir combinaciones de una columna consigo misma
correlacion_filtrada = correlacion[correlacion != 1.0].dropna(how='all').dropna(axis='columns', how='all')

# Obtener las 10 columnas más correlacionadas
columnas_seleccionadas = correlacion_filtrada.unstack().sort_values(ascending=False)[:10]
elementos_clave = columnas_seleccionadas.index.tolist()

# Imprimir los elementos clave
print("\nElementos clave sin repeticiones de columna consigo misma:")
print(elementos_clave)

Elementos clave sin repeticiones de columna consigo misma:
[('Activity Period', 'Activity Period'), ('Passenger Count', 'Passenger Count'), ('Year', 'Year'), ('Passenger Count', 'Adjusted Passenger Count'), ('Adjusted Passenger Count', 'Passenger Count'), ('Activity Period', 'Year'), ('Year', 'Activity Period'), ('Activity Period', 'Passenger Count'), ('Passenger Count', 'Activity Period'), ('Passenger Count', 'Year')]