Leemos y filtramos el dataset

In [295]:

import dask.dataframe as dd
import pandas as pd

In [278]:
# Cargar el conjunto de datos en un dataframe de Dask
df = dd.read_csv('air_traffic_data.csv')

# Eliminar registros duplicados
df_air_filt= df.drop_duplicates()

# Volcar los resultados en un archivo CSV
df_air_filt.to_csv('archivo_sin_duplicados.csv', index=False)

['c:\\Users\\Angel Mart√≠nez\\Documents\\GitHub\\Air_Trafic\\archivo_sin_duplicados.csv\\0.part']

In [279]:
df_air_filt

Dask DataFrame Structure:
              Activity Period Operating Airline Operating Airline IATA Code Published Airline Published Airline IATA Code GEO Summary GEO Region Activity Type Code Price Category Code Terminal Boarding Area Passenger Count Adjusted Activity Type Code Adjusted Passenger Count   Year   Month
npartitions=1
                        int64            object                      object            object                      object      object     object             object              object   object        object           int64                      object                    int64  int64  object
                          ...               ...                         ...               ...                         ...         ...        ...                ...                 ...      ...           ...             ...                         ...                      ...    ...     ...
Dask Name: drop-duplicates-agg, 3 tasks

In [280]:
# Conteo de valores perdidos/faltantes  
df_air_filt.isna().sum()

Dask Series Structure:
npartitions=1
Activity Period    int64
Year                 ...
dtype: int64
Dask Name: dataframe-sum-agg, 6 tasks

In [281]:
df_air_filt.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 16 entries, Activity Period to Month
dtypes: object(12), int64(4)

In [282]:
# Consultamos el tipo de datos
df_air_filt.dtypes

Activity Period                 int64
Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Passenger Count                 int64
Adjusted Activity Type Code    object
Adjusted Passenger Count        int64
Year                            int64
Month                          object
dtype: object

In [283]:
df_air_filt.dtypes[df_air_filt.dtypes=='object']

Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Adjusted Activity Type Code    object
Month                          object
dtype: object

In [284]:
columnas_drop= ["GEO Region",
                "GEO Summary",
                "Price Category Code",
                "Adjusted Activity Type Code",
                "Price Category Code",
                "Activity Type Code" ,
                "Operating Airline IATA Code",
                "Operating Airline IATA Code",
                "Published Airline IATA Code",
                "Published Airline"
                ]

In [285]:
df_air_filt= df_air_filt.drop(columns=columnas_drop)

In [286]:

valores_unicos = df_air_filt['Terminal'].unique().compute()


print(valores_unicos)

0       Terminal 1
1    International
2       Terminal 3
3            Other
4       Terminal 2
Name: Terminal, dtype: object

In [287]:

Terminal_numeros = {
    'Terminal 1': 1,
    'Terminal 2': 2,
    'Terminal 3': 3,
    'Internacional':4,
}


df_air_filt["Terminal"]=df_air_filt["Terminal"].map(Terminal_numeros)
print(df_air_filt["Terminal"].head())

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: Terminal, dtype: float64

In [288]:
df_air_filt.dtypes[df_air_filt.dtypes=='object']

Operating Airline    object
Boarding Area        object
Month                object
dtype: object

In [289]:

meses_numeros = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}
df_air_filt["Month"]=df_air_filt["Month"].map(meses_numeros)
print(df_air_filt["Month"].tail())

15002    3
15003    3
15004    3
15005    3
15006    3
Name: Month, dtype: int64

In [290]:
valores_unicos = df_air_filt['Boarding Area'].unique().compute()


print(valores_unicos)

0        B
1        G
2        A
3        E
4        C
5        F
6    Other
7        D
Name: Boarding Area, dtype: object

In [291]:

boarding_area = {
    'A': 1,
    'B': 2,
    'C': 3,
    'D': 4,
    'E': 5,
    'F':6,
    'G':7
    
    }
df_air_filt["Boarding Area"]=df_air_filt["Boarding Area"].map(boarding_area)
df_air_filt["Boarding Area"]

Dask Series Structure:
npartitions=1
    float64
        ...
Name: Boarding Area, dtype: float64
Dask Name: getitem, 15 tasks

In [296]:

df_air_filt.isna().sum()

Dask Series Structure:
npartitions=1
Activity Period    int64
Year                 ...
dtype: int64
Dask Name: dataframe-sum-agg, 20 tasks

In [298]:
df_air_filt2 = df_air_filt.dropna()
df_air_filt2

ValueError: Metadata inference failed in `dropna`.

You have supplied a custom function and Dask is unable to
determine the type of output that that function returns.

To resolve this please provide a meta= keyword.
The docstring of the Dask function you ran should have more information.

Original error is below:
------------------------
TypeError('You cannot set both the how and thresh arguments at the same time.')

Traceback:
---------
  File "c:\Users\Angel Mart√≠nez\anaconda3\lib\site-packages\dask\dataframe\utils.py", line 182, in raise_on_meta_error
    yield
  File "c:\Users\Angel Mart√≠nez\anaconda3\lib\site-packages\dask\dataframe\core.py", line 6406, in _emulate
    return func(*_extract_meta(args, True), **_extract_meta(kwargs, True))
  File "c:\Users\Angel Mart√≠nez\anaconda3\lib\site-packages\dask\utils.py", line 1070, in __call__
    return getattr(__obj, self.method)(*args, **kwargs)
  File "c:\Users\Angel Mart√≠nez\anaconda3\lib\site-packages\pandas\util\_decorators.py", line 331, in wrapper
    return func(*args, **kwargs)
  File "c:\Users\Angel Mart√≠nez\anaconda3\lib\site-packages\pandas\core\frame.py", line 6537, in dropna
    raise TypeError(

In [ ]:
df_air_filt2= df_air_filt2.dropna().reset_index(drop=True)
df_air_filt2

NameError: name 'df_air_filt2' is not defined

In [ ]:
df_air_filt2.dtypes[df_air_filt2.dtypes=='object']

NameError: name 'df_air_filt2' is not defined

In [294]:

df_air_filt['Operating Airline'] = df_air_filt['Operating Airline'].astype('category')

# Asignar un c√≥digo num√©rico a cada categor√≠a
df_air_filt['Airline numeric'] = df_air_filt['Operating Airline'].cat.codes

# Crear un diccionario de mapeo
mapeo_aerolineas = dict(enumerate(df_air_filt['Operating Airline'].cat.categories))

# Imprimir el diccionario de mapeo
print(mapeo_aerolineas)

AttributeNotImplementedError: `df.column.cat.codes` with unknown categories is not supported.  Please use `column.cat.as_known()` or `df.categorize()` beforehand to ensure known categories

POR FIN tenemos el dataset limpio y con valores numericos