Leemos y filtramos el dataset

In [101]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [102]:
df_aire = pd.read_csv("air_traffic_data.csv")

In [103]:
df_aire

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15002,201603,Virgin America,VX,Virgin America,VX,Domestic,US,Enplaned,Low Fare,Terminal 2,D,194636,Enplaned,194636,2016,March
15003,201603,Virgin America,VX,Virgin America,VX,International,Mexico,Deplaned,Low Fare,International,A,4189,Deplaned,4189,2016,March
15004,201603,Virgin America,VX,Virgin America,VX,International,Mexico,Enplaned,Low Fare,Terminal 2,D,4693,Enplaned,4693,2016,March
15005,201603,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Deplaned,Other,International,A,12313,Deplaned,12313,2016,March
15006,201603,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Enplaned,Other,International,A,10898,Enplaned,10898,2016,March

In [104]:
# Conteo de valores perdidos/faltantes  
df_aire.isna().sum()

Activity Period                 0
Operating Airline               0
Operating Airline IATA Code    54
Published Airline               0
Published Airline IATA Code    54
GEO Summary                     0
GEO Region                      0
Activity Type Code              0
Price Category Code             0
Terminal                        0
Boarding Area                   0
Passenger Count                 0
Adjusted Activity Type Code     0
Adjusted Passenger Count        0
Year                            0
Month                           0
dtype: int64

In [105]:
df_aire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15007 entries, 0 to 15006
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              15007 non-null  int64
 1   Operating Airline            15007 non-null  object
 2   Operating Airline IATA Code  14953 non-null  object
 3   Published Airline            15007 non-null  object
 4   Published Airline IATA Code  14953 non-null  object
 5   GEO Summary                  15007 non-null  object
 6   GEO Region                   15007 non-null  object
 7   Activity Type Code           15007 non-null  object
 8   Price Category Code          15007 non-null  object
 9   Terminal                     15007 non-null  object
 10  Boarding Area                15007 non-null  object
 11  Passenger Count              15007 non-null  int64
 12  Adjusted Activity Type Code  15007 non-null  object
 13  Adjusted Passenger Count     15007 non-null  int64
 14  Year                         15007 non-null  int64
 15  Month                        15007 non-null  object
dtypes: int64(4), object(12)
memory usage: 1.8+ MB

In [106]:
df_aire['Operating Airline IATA Code'].isna().sum()

54

In [107]:
# Mostrar los valores nulos para este campo
df_aire['Operating Airline IATA Code'][df_aire['Operating Airline IATA Code'].isna()]

148      NaN
6814     NaN
6815     NaN
6925     NaN
6926     NaN
7173     NaN
7174     NaN
7747     NaN
7748     NaN
7972     NaN
7973     NaN
8327     NaN
8328     NaN
8444     NaN
8445     NaN
8562     NaN
8563     NaN
8680     NaN
8793     NaN
8794     NaN
8795     NaN
8796     NaN
9131     NaN
9132     NaN
9357     NaN
9358     NaN
9468     NaN
9485     NaN
9486     NaN
9487     NaN
9698     NaN
9699     NaN
9936     NaN
9937     NaN
10172    NaN
10173    NaN
10402    NaN
10403    NaN
10841    NaN
10842    NaN
10863    NaN
10864    NaN
10979    NaN
10980    NaN
11210    NaN
11211    NaN
11538    NaN
11539    NaN
11783    NaN
11784    NaN
12011    NaN
12125    NaN
13025    NaN
13026    NaN
Name: Operating Airline IATA Code, dtype: object

In [108]:
df_aire.drop(df_aire.dropna().index)

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
148,200508,Boeing Company,NaN,Boeing Company,NaN,Domestic,US,Deplaned,Other,Other,Other,18,Deplaned,18,2005,August
6814,201005,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,G,73,Deplaned,73,2010,May
6815,201005,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,G,73,Enplaned,73,2010,May
6925,201006,Pacific Aviation,NaN,Pacific Aviation,NaN,International,Europe,Deplaned,Other,International,A,160,Deplaned,160,2010,June
6926,201006,Pacific Aviation,NaN,Pacific Aviation,NaN,International,Europe,Enplaned,Other,International,A,160,Enplaned,160,2010,June
7173,201008,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,G,118,Deplaned,118,2010,August
7174,201008,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,G,118,Enplaned,118,2010,August
7747,201101,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,40,Deplaned,40,2011,January
7748,201101,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,40,Enplaned,40,2011,January
7972,201103,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,64,Deplaned,64,2011,March
7973,201103,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,64,Enplaned,64,2011,March
8327,201106,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,237,Deplaned,237,2011,June
8328,201106,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,262,Enplaned,262,2011,June
8444,201107,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,72,Deplaned,72,2011,July
8445,201107,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,193,Enplaned,193,2011,July
8562,201108,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,114,Deplaned,114,2011,August
8563,201108,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,98,Enplaned,98,2011,August
8680,201109,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,98,Deplaned,98,2011,September
8793,201110,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,48,Deplaned,48,2011,October
8794,201110,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,48,Enplaned,48,2011,October
8795,201110,Servisair,NaN,Servisair,NaN,International,Europe,Deplaned,Low Fare,International,A,16,Deplaned,16,2011,October
8796,201110,Servisair,NaN,Servisair,NaN,International,Europe,Enplaned,Low Fare,International,A,16,Enplaned,16,2011,October
9131,201201,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,77,Deplaned,77,2012,January
9132,201201,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,77,Enplaned,77,2012,January
9357,201203,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,51,Deplaned,51,2012,March
9358,201203,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,51,Enplaned,51,2012,March
9468,201204,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,G,171,Enplaned,171,2012,April
9485,201204,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Deplaned,Other,International,A,167,Deplaned,167,2012,April
9486,201204,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Enplaned,Other,International,A,183,Enplaned,183,2012,April
9487,201204,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Thru / Transit,Other,International,A,93,Thru / Transit * 2,186,2012,April
9698,201206,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,62,Deplaned,62,2012,June
9699,201206,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,62,Enplaned,62,2012,June
9936,201208,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,115,Deplaned,115,2012,August
9937,201208,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,71,Enplaned,71,2012,August
10172,201210,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,57,Deplaned,57,2012,October
10173,201210,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,57,Enplaned,57,2012,October
10402,201212,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,57,Deplaned,57,2012,December
10403,201212,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,57,Enplaned,57,2012,December
10841,201304,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,120,Deplaned,120,2013,April
10842,201304,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,215,Enplaned,215,2013,April
10863,201304,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Deplaned,Other,International,A,399,Deplaned,399,2013,April
10864,201304,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Enplaned,Other,International,A,560,Enplaned,560,2013,April
10979,201305,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Deplaned,Other,International,A,300,Deplaned,300,2013,May
10980,201305,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Enplaned,Other,International,A,300,Enplaned,300,2013,May
11210,201307,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Deplaned,Other,International,A,276,Deplaned,276,2013,July
11211,201307,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Enplaned,Other,International,A,276,Enplaned,276,2013,July
11538,201310,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,75,Deplaned,75,2013,October
11539,201310,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,75,Enplaned,75,2013,October
11783,201312,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Deplaned,Other,International,A,214,Deplaned,214,2013,December
11784,201312,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Enplaned,Other,International,A,216,Enplaned,216,2013,December
12011,201402,Swissport USA,NaN,Swissport USA,NaN,International,Asia,Deplaned,Other,International,A,216,Deplaned,216,2014,February
12125,201403,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Deplaned,Other,International,A,211,Deplaned,211,2014,March
13025,201411,Swissport USA,NaN,Swissport USA,NaN,International,Central America,Deplaned,Other,International,A,234,Deplaned,234,2014,November
13026,201411,Swissport USA,NaN,Swissport USA,NaN,International,Central America,Enplaned,Other,International,A,234,Enplaned,234,2014,November

In [109]:
df_air_filt = df_aire.dropna().reset_index(drop=True)
df_air_filt

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14948,201603,Virgin America,VX,Virgin America,VX,Domestic,US,Enplaned,Low Fare,Terminal 2,D,194636,Enplaned,194636,2016,March
14949,201603,Virgin America,VX,Virgin America,VX,International,Mexico,Deplaned,Low Fare,International,A,4189,Deplaned,4189,2016,March
14950,201603,Virgin America,VX,Virgin America,VX,International,Mexico,Enplaned,Low Fare,Terminal 2,D,4693,Enplaned,4693,2016,March
14951,201603,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Deplaned,Other,International,A,12313,Deplaned,12313,2016,March
14952,201603,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Enplaned,Other,International,A,10898,Enplaned,10898,2016,March

In [110]:
#comprobamos que no queden valores nulos
df_air_filt.isna().sum()

Activity Period                0
Operating Airline              0
Operating Airline IATA Code    0
Published Airline              0
Published Airline IATA Code    0
GEO Summary                    0
GEO Region                     0
Activity Type Code             0
Price Category Code            0
Terminal                       0
Boarding Area                  0
Passenger Count                0
Adjusted Activity Type Code    0
Adjusted Passenger Count       0
Year                           0
Month                          0
dtype: int64

In [111]:
# Consultamos el tipo de datos
df_air_filt.dtypes

Activity Period                 int64
Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Passenger Count                 int64
Adjusted Activity Type Code    object
Adjusted Passenger Count        int64
Year                            int64
Month                          object
dtype: object

In [112]:
df_air_filt.dtypes[df_air_filt.dtypes=='object']

Operating Airline              object
Operating Airline IATA Code    object
Published Airline              object
Published Airline IATA Code    object
GEO Summary                    object
GEO Region                     object
Activity Type Code             object
Price Category Code            object
Terminal                       object
Boarding Area                  object
Adjusted Activity Type Code    object
Month                          object
dtype: object

In [113]:
columnas_drop= ["GEO Region",
                "GEO Summary",
                "Price Category Code",
                "Adjusted Activity Type Code",
                "Price Category Code",
                "Activity Type Code" ,
                "Operating Airline IATA Code",
                "Operating Airline IATA Code",
                "Published Airline IATA Code" 
                ]

In [114]:
df_air_filt2 = df_air_filt.drop(columns=columnas_drop)

In [115]:
df_air_filt2["Terminal"]

0           Terminal 1
1           Terminal 1
2           Terminal 1
3           Terminal 1
4           Terminal 1
             ...
14948       Terminal 2
14949    International
14950       Terminal 2
14951    International
14952    International
Name: Terminal, Length: 14953, dtype: object

In [116]:

df_air_filt['Terminal'] = df_air_filt['Terminal'].replace('Terminal 1', '1')
df_air_filt['Terminal'] = df_air_filt['Terminal'].replace('Terminal 2', '2')
df_air_filt['Terminal'] = df_air_filt['Terminal'].replace('Terminal 3', '3')
df_air_filt['Terminal'] = df_air_filt['Terminal'].replace('International', '100')
df_air_filt['Terminal'] = df_air_filt['Terminal'].replace('Other', '0')

df_air_filt["Terminal"]=df_air_filt["Terminal"].astype(int)


# Mostrar el resultado
print(df_air_filt["Terminal"])

0          1
1          1
2          1
3          1
4          1
        ...
14948      2
14949    100
14950      2
14951    100
14952    100
Name: Terminal, Length: 14953, dtype: int32

In [117]:
df_air_filt2.dtypes[df_air_filt.dtypes=='object']

Operating Airline    object
Published Airline    object
Boarding Area        object
Month                object
dtype: object

In [119]:
print(df_air_filt2["Month"])

0         July
1         July
2         July
3         July
4         July
         ...
14948    March
14949    March
14950    March
14951    March
14952    March
Name: Month, Length: 14953, dtype: object

In [136]:
meses_numeros = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}
df_air_filt2["Month"]=df_air_filt2["Month"].map(meses_numeros)
print(df_air_filt2["Month"])

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
14948   NaN
14949   NaN
14950   NaN
14951   NaN
14952   NaN
Name: Month, Length: 14953, dtype: float64